@charset "utf-8";
/* CSS Document */
 body,div,dl,dt,dd,ul,li,h1,h2,h3,h4{
	 margin:0;
	 padding:0;
	 list-style:none;
	 font-family:Verdana, Geneva, sans-serif;
	 }
.head
{
	background-color:#1b1e1c;}
.picture
{
	background-color:#666;
	height:880px;}
.logo
{position:relative;
height:208px;
margin:48px;
}
.text
{
	margin-left:26%;
	margin-right:26%;
	height:136px;
	color:#999;
	font-size:18px;
	line-height:1.5;
}
.text2
{
	border:2px solod black;
	width: 1000px;
	height: 700px;
	position:relative;
	margin-left:610px;

}
.text2-text
{   width:360px;
	height:250px;
	color:#999;
	font-size:18px;
	line-height:1;
	margin-left:-180px;
	float:left;
}
.text2-log
{
	position: absolute;
	float: right;
	left: 377px;
	top: 90px;

}

.bh
{
	color:#FFF;
	font-size:24px;
	}
.bd
{
	color:#FFF;
	font-size:20px;
	}
.ft
	{
	height: 52px;
	width: 500px;
	position: absolute;
	left: 316px;
	right: 0;
	margin: 0px auto;
	font-size: 15px;
	line-height: 2;
	color: #999;
	top: 2347px;
}
.last
{
	height:300px;
	width:auto;
	background-color:#282828;}
.last-content
{
	width:914px;
	height:98px;
	position:absolute;
	left:0;
	right:0;
	margin:0 auto;
	margin-top:40px;
}
.last-content h2
{
	margin:0;
	padding:0;
	color:#999;
}
.last-content .link
{
	float:left;
	display:block;
	width:100px;
	height:auto;
	margin-right:80px;
	margin-bottom:5px;
	
}
.last-content ul
{
	margin-top:10px;
	
}
.last-content a
{
	text-decoration:none;
	color:#999;
	
}
a:hover
{
	text-decoration:underline;
}














